/* start main Rulez*/


.container{
    width: 1170px;
    margin: auto;
}
.clearfix{
    clear: both;
}
/*End main Rulez

/*start Header*/
.header .slider {
    background-image: url('../images/game.jpg');
    background-size: cover;
    height: 600px;
    opacity: 0.9;
    
}
.header .slider .intro h2{
    margin: 0 auto;
    font-size: 50px;
    width: 600px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    padding: 5px 0;
}
.header .slider .intro {
   padding-top: 200px;
    text-align: center;
    color: #fff;
}
.header .slider .intro button{
    background: none;
    margin-top: 20px;
    font-size:20px;
    border: 2px solid #fff;
    font-weight: bold;
    padding: 10px 30px 
}
.header .navbar{
    background-color: #252f31;
    color: #fff;
    overflow: hidden;
}
.header .navbar h2{  float: left;}

.header .navbar h2 span{color:#2ecc71;}

.header .navbar ul{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}
.header .navbar ul li {
    float: left;
    padding: 10px;
}
.header .navbar ul li a{
    color: #fff;
    text-decoration: none;
}
.header .navbar ul li a:hover ,.header .navbar ul li.active a{
    color:#30b576;
}
/*End Header*/

/*Start features*/

.features{
    overflow: hidden;
    padding-top:40px;
    padding-bottom: 50px;
}
.features .feat {
    float:left;
    width: 33.33333%;
    height: 150px;
}
.features .feat h2 {color: #555;
}
.features .feat p{
    line-height: 1.7;
    color: #888;
    font-weight: bold;
}
.features .fas{
    color: #2ecc71;
    padding: 15px;
}


/*End  Features*/

/* start About me*/
.about-me{
    background-color: #f2f2f2;
    overflow: hidden;
}
.about-me .image{
    float: left;
    width: 40%; 
}
.about-me .image img{width: 100%; height: 100vh;}

.about-me .info{
    float: left;
    width: 60%;
}
.about-me .info h2{
    margin: 40px 0 20px 40px;
    color: #666
}
.about-me .info > p{
   color: #777;
  
}


.about-me .info p{
    line-height: 1.6;
    color: #666;
    margin: 30px;
    font-weight: bold;
}

.about-me .info .hobbies{
    overflow: hidden;
    margin:40px 0 0 40px;
}
.about-me  .fa {
    color: #2ecc71;
    padding: 15px;
}
#content h3{
  color: #555;
}
#content p:last-of-type{
  color: #888888;
  margin-left: 8px;
}
#content .fas{
   color: #30b576;
   font-size: 37px;
}
.about-me .info .hobbies  h3{color: #555;}
.about-me .info .hobbies {
    float: left;
    width: 50%;
    min-height: 100px;
}
/*End About me*/

/* Start Skills*/
.my-skills{
    padding-top:30px;
    padding-bottom: 50px;
    overflow: hidden;
}
.my-skills .my-progress{
    display:flexbox;

}
.my-skills .skills , .my-skills .my-progress{
 width: 50% !important;
 float: left !important;
}
.my-skills .skills h2{
    margin: 25px 0 20px 40px;
    color: #555;
}
.my-skills .skills p{
    margin: 0 0 10px 40px;
    line-height: 1.6;
    color: #666;
}
.my-skills .skills p:last-of-type{
    margin-top: 25px;
}
.my-skills .skills button{
    background: none;
    border: 3px solid #2dcc70;
    padding: 10px 30px;
    margin-left: 40px;
}
.my-skills .my-progress .technique {margin-left: 30px;}
.my-skills .my-progress .technique h3{
    color: #555 !important;
}
.my-skills .my-progress .technique div{
    background-color: #f2f2f2 !important;
    height: 25px !important;
}
.my-skills .my-progress .technique div span{
    background-color: #2dcc70 !important;
  display: block !important;
  text-align: right !important;
  height: 25px !important;
  line-height: 25px !important;
  color: #fff !important;
  font-weight: bold !important;
}
/* End Skills*/
 
/* Start resume*/
.resume{
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}
.resume button{
    margin-top: 20px;
}
.resume h2{
    color: #666;
    font-weight: bold;
}
.resume p{
    line-height: 1.7;
    color:#666;
    padding: 0 40px;
}
/*End Resume*/

/* Start My Education*/
.my-education{
    padding-top:30px;
    padding-bottom: 30px;
    overflow: hidden;
}
.my-education .exp{
    width: 45%;
    float: left;
}
.my-education .main {
 width: 50%;
 margin-right: 5%;
 float: left;
}
.my-education .main h2{
    margin: 25px 0 20px 40px;
    color: #555;
}
.my-education .main p{
    margin: 0 0 10px 40px;
    line-height: 1.6;
    color: #666;
}
.my-education .main p:last-of-type{
    margin-top: 25px;
}
.my-education .exp h3{
   margin-top: 88px;
   margin-bottom: 10px;
}
.my-education .exp span{
    display: block;
    margin-bottom: 10px;
}
.my-education .exp span:first-of-type{color: #999;}
.my-education .exp span:last-of-type{
    background-color: #2dcc70;
    color:#fff;
    display: inline-block;
    padding: 4px 10px;
}
.my-education .exp hr{
    margin:20px 0;
    background-color: #999;
    height: 1px;
    border: 0;
}
.my-education .exp p{
    line-height: 1.7;
    color: #777;
}
/* End Education*/

/* Start My Testimonials*/
.Testimonials{
    background-color: #f2f2f2;
    padding-top:50px;
    padding-bottom: 70px;
    text-align: center;
    
}
.Testimonials q{
    line-height: 1.8;
    color: #888;
    font:italic bold 18px/1.8 arial, tahoma;
}
.Testimonials h3 {
    color: #777;
    margin-bottom: 30px;
    
}
.Testimonials ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
   
}
.Testimonials ul li{
    width: 15px;
    height: 15px;
    border: 2px solid #2dcc70;
    display: inline-block;
}
.Testimonials ul li.active {background-color: #2dcc70}
.Testimonials ul li:hover{background-color: #2ecc70}
/* End My Testimonials*/

/* Start portfolio*/
.portfolio{
    padding-top: 50px;
    padding-bottom: 70px;
}
.portfolio h2{
    color: #777;
    text-align: center;
}
.portfolio p{
    line-height: 1.7;
    color: #666;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.portfolio .our-work{
    overflow: hidden;
}
.portfolio .our-work > div{
    float: left;
    width: 33.333333%;
    margin-bottom: 10px;
}
.portfolio .our-work > div img {
    width: 92%; 
    margin:10px;
    padding: 3px;
    background-color: #fff;
    border:1px solid #ccc;
    
}
/* End portfolio */

/* start contact me */

.contact{
    background-color: #252f31;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px;
}
.contact h2 {
    color: #fff;
    margin-left: 40px;
}
.contact p{
   color: #6a6e71; 
   line-height: 1.7;
   margin-left: 40px;
}
.contact  p strong{
    color: #d1d6da;
}
.contact .info {
    width: 50%;
    margin-right: 5%;
    float: left;
}
.contact .form{
    width: 45%;
    float: left;
}
.contact .form label{
    display: block;
    color: #d1d6da;
    margin-bottom: 10px 0;
}
.contact .form input[type="text"]{
    background-color: #d1d6da;
    color: #fff;
    padding: 10px;
    border:0;
    width: 80%;
    margin-bottom: 10px;

}
.contact .form textarea{
    background-color: #4b5557;
    color: #fff;
    padding: 10px;
    border:0;
    width: 80%;
    margin-bottom: 30px;
    height: 300px;;

}
.contact .form input[type="submit"] {
    background-color: #191e22;
    color: #fff;
    padding: 10px 20px;
    border:0;
    margin-top: 10px;
}
/* End Contact */

/* start footer */
 .footer{
     background-color: #191e22;
     color: #6a6e71;
     padding: 20px 0;
     text-align: center;
 }
 .footer span{
     font-weight: bold;
     font-style: inherit;
 }
 .footer ul{
  list-style: none;
  padding-left: 0;
  margin: 10px 0 0;
 }
 .footer ul li{
     display: inline-block;
 }
 /* End footer */
 /*start my frame work*/
 .my-button{
    background: none;
    border: 3px solid #2dcc70;
    padding: 10px 30px;
    color: #2dcc70;
    font-weight: bold;
}
/* end my frame work*/