body
{
    font-family: 'Montserrat', sans-serif;
}
  .navbar
  {
      background-color:#26729f;
     
    
  }
 
  .navbar .brand-navbar img:hover
  {
      opacity: 0.7;
  }
 
  .navbar ul li a{
      color: white;
      margin: 10px 0px 0px 10px;
      text-transform: uppercase;
      font-size: 15px;
  }
  .navbar ul li a .fas{
      padding-right:5px; 
      padding-left:5px; 
  }
  .navbar ul li a:hover{
      color: orange;
  }
  .navbar ul li.active > a {
      color: #15b000;
      font-weight: bold;
      font-size: 15px;
      border-left: 3px solid #15b000;
      border-radius: 40px;
  }
.iconStyle
{
    color: #15b000;
}
#carouselExampleCaptions{
    position: relative;
    background-size: cover;
    width: 100%;
  padding-bottom: -40px;

}
#carouselExampleCaptions p{
  color: #000;
  font-size: 25px;
  position:absolute;
  
  
  
}
#carouselExampleCaptions h5{
    color: #0070cd;
    font-size: 30px;
    margin-top: -306px;
}
.carousel-item {
  height: 100vh;
 }
.carousel-inner{
    width: 100%;
}r
#doc{
  
    color: #555;
}


h1::after{
    content: '';
    background: #007BFF;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}


.profile-pic
{
    margin-top: 25px;
}
.profile-pic .img-box
{
   opacity: 1;
   display: block;
   position: relative;
}
.profile-pic .img-box img
{
  filter: grayscale(1);
}
.profile-pic .img-box img:hover
{
   filter: grayscale(0);
   cursor:pointer;
}
.profile-pic h2{
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  color: #007BFF;
  border-bottom-style: ridge;
  margin: 5px;
}
.profile-pic h3{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
   
  }
  #doc .fa{
      height: 25px;
      width: 25px;
      color: #007BFF !important;
      background: #fff;
      padding: 4px;
      border-radius: 50%;
    
  }
  .img-box ul{
      padding: 15px 0;
      position: absolute;
      z-index:2;
      bottom: 0;
      left: 50%;
      transform: translateX(-50);
      opacity: 0;
  }
  .img-box ul li{
      padding: 5px;
      display:inline-block;
  }
  .img-box:hover ul{
opacity: 1;
  }
  .img-box ul, .img-box ul  li{
      transition: 0.5;
  }
  #about {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #0070cd;
  }
  #about h6{
      color:#fff !important;
      font-size: 55px !important;
      border-bottom: 1px solid;
      text-align: center;  
  }
  #about h3{
      color: silver;
      font-size: 40px;
   
      text-align:left;
  }
  #about h2{
      font-size: 20px !important; 
      text-align: left !important;
  }
 
  body { color: #ccc }
  .footer-widget p {
      margin-bottom: 27px;
  }
  p {
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      line-height: 28px;
  }
  
     .animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #007bff; }
  
  .animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite; }
  
  @-webkit-keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px); }
    100% {
      -webkit-transform: translateX(113px);
      transform: translateX(113px); } }
  
  @keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px); }
    100% {
      -webkit-transform: translateX(113px);
      transform: translateX(113px); } }
  
  .animate-border.border-white:after {
    border-color: #fff; }
  
  .animate-border.border-yellow:after {
    border-color: #F5B02E; }
  
  .animate-border.border-orange:after {
    border-right-color: #007bff;
    border-left-color: #007bff; }
  
  .animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF; }
  
  .animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8; }
  
  /* Animated heading border */
  @keyframes primary-short {
    0% {
      width: 15%; }
    50% {
      width: 90%; }
    100% {
      width: 10%; } }
  
  @keyframes primary-long {
    0% {
      width: 80%; }
    50% {
      width: 0%; }
    100% {
      width: 80%; } } 
  
  .dk-footer {
    padding: 75px 0 0;
    background-color: #26729f;
    position: relative;
    z-index: 2; }
    .dk-footer .contact-us {
      margin-top: 0;
      margin-bottom: 30px;
      padding-left: 80px; }
      .dk-footer .contact-us .contact-info {
        margin-left: 50px; }
      .dk-footer .contact-us.contact-us-last {
        margin-left: -80px; }
    .dk-footer .contact-icon i {
      font-size: 24px;
      top: -15px;
      position: relative;
      color:#007bff; }
  
  .dk-footer-box-info {
    position: absolute;
    top: -75px;
    background: #202020;
    padding: 40px;
    z-index: 2; }
    .dk-footer-box-info .footer-social-link h3 {
      color: #fff;
      font-size: 24px;
      margin-bottom: 25px; }
    .dk-footer-box-info .footer-social-link ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
    .dk-footer-box-info .footer-social-link li {
      display: inline-block; }
    .dk-footer-box-info .footer-social-link a i {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      background: #000;
      margin-right: 5px;
      color: #fff; }
      .dk-footer-box-info .footer-social-link a i.fa-facebook {
        background-color: #3B5998; }
      .dk-footer-box-info .footer-social-link a i.fa-twitter {
        background-color: #55ACEE; }
      .dk-footer-box-info .footer-social-link a i.fa-google-plus {
        background-color: #DD4B39; }
      .dk-footer-box-info .footer-social-link a i.fa-linkedin {
        background-color: #0976B4; }
      .dk-footer-box-info .footer-social-link a i.fa-instagram {
        background-color: #B7242A; }
  
  .footer-awarad {
    margin-top: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer-awarad p {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      margin-left: 20px;
      padding-top: 15px; }
  
  .footer-info-text {
    margin: 26px 0 32px; }
  
  .footer-left-widget {
    padding-left: 80px; }
  
  .footer-widget .section-heading {
    margin-bottom: 35px; }
  
  .footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content; }
  
  .footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
  
  .footer-widget li {
    margin-bottom: 18px; }
  
  .footer-widget p {
    margin-bottom: 27px; }
  
  .footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .footer-widget a:hover {
      color: #007bff; }
  
  .footer-widget:after {
    content: "";
    display: block;
    clear: both; }
  
  .dk-footer-form {
    position: relative; }
    .dk-footer-form input[type=email] {
      padding: 14px 28px;
      border-radius: 50px;
      background: #2E2E2E;
      border: 1px solid #2E2E2E; }
    .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
      color: #878787;
      font-size: 14px; }
    .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
      color: #878787;
      font-size: 14px; }
    .dk-footer-form button[type=submit] {
      position: absolute;
      top: 0;
      right: 0;
      padding: 12px 24px 12px 17px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      border: 1px solid #007bff;
      background: #007bff;
      color: #fff; }
    .dk-footer-form button:hover {
      cursor: pointer; }
  
  /* ==========================
  
      Contact
  
  =============================*/
  .contact-us {
    position: relative;
    z-index: 2;
    margin-top: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  
  .contact-icon {
    position: absolute; }
    .contact-icon i {
      font-size: 36px;
      top: -5px;
      position: relative;
      color: #007bff; }
  
  .contact-info {
    margin-left: 75px;
    color: #fff; }
    .contact-info h3 {
      font-size: 20px;
      color: #fff;
      margin-bottom: 0; }
  
  .copyright {
    padding: 35px 0;
    margin-top: 55px;
    background-color: #202020; }
    .copyright span,
    .copyright a {
      color: #878787;
      -webkit-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    .copyright a:hover {
      color:#007bff; }
  
  .copyright-menu ul {
    text-align: right;
    margin: 0; }
  
  .copyright-menu li {
    display: inline-block;
    padding-left: 20px; }
  
  .back-to-top {
    position: relative;
    z-index: 2; }
    .back-to-top .btn-dark {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      padding: 0;
      position: fixed;
      bottom: 20px;
      right: 20px;
      background: #2e2e2e;
      border-color: #2e2e2e;
      display: none;
      z-index: 999;
      -webkit-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .back-to-top .btn-dark:hover {
        cursor: pointer;
        background: #FA6742;
        border-color: #FA6742; }
        h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}

        .how-section1{
            margin-top:-15%;
            padding: 10%;
        }
        .how-section1 h4{
            color: #ffa500;
            font-weight: bold;
            font-size: 30px;
        }
        .how-section1 .subheading{
            color: #3931af;
            font-size: 20px;
        }
        .how-section1 .row
        {
            margin-top: 10%;
        }
        .how-img 
        {
            text-align: center;
        }
        .how-img img{
            width: 40%;
        }
        .fa{
          color: #777;
        }
        #contact h3{
          font-size: 15px;
          text-align: left;
          color: #0080ff;
        }
        #contact h4 {
          font-size: 20px;
          text-align: center;
          color: #000;
        }
        #contact p{
          text-align: center;
          font-size: 12px;
          color: silver;
        }
        #contact li{
          list-style: none;
        
        }
        .divider-text {
          position: relative;
          text-align: center;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        .divider-text span {
          padding: 7px;
          font-size: 12px;
          position: relative;   
          z-index: 2;
        }
        .divider-text:after {
          content: "";
          position: absolute;
          width: 100%;
          border-bottom: 1px solid #ddd;
          top: 55%;
          left: 0;
          z-index: 1;
        }
        
        .btn-facebook  {
          background-color: #405D9D;
          color: #fff;
        }
        .btn-twitter  {
          background-color: #42AEEC;
          color: #fff;
        }
        .fa{
          color: #0070cd;
        }
      
a {color: #000;}
.container-fluid h1{
  color: #2E2E2E;
  text-align: center;
  border-bottom: 1 px solid silver;  
}
* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
  padding: .938em;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* form */
#Appointment{
  background-image: url('../img/cover3.jpg') ;
  width: 100%;
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;

  
}
form {
width: 35em;
margin: 7% auto;
font-family: sans-serif;
}

h2 {
font-weight: bold;
color: deepskyblue;
border: .063em solid deepskyblue;
border-width: .1em;
width: 60%;
padding: .2em;
border-radius: .15em;
}

label {
font-size: .9em;
color: #000;
font-size: 20px;
}

input[type="date"], input[type="time"], select, input[type="tel"], input[type="email"], input[type="text"] {
borde: none;
border: .063em solid #D6D2D2;
border-radius: 3px;
width: 100%;
font-size: 1.15em;
height: 1.8em;
color: silver;
}

.time-zone select {
font-size: 1.15em;
}

select {
font-size: .95em;
}

textarea {
width: 100%;
height: 10em;
border-radius: 3px;
resize: none;
border-color: #D6D2D2;
}

.header {
padding-left: .938em;
}

button {
float: right;
}

button {
display: inline-block;
width: 10em;
text-align: center;
color: white;
text-decoration: none;
border-radius: 0.2em;
border: none;
height: 3em;
font-size: 0.9em;
background-color: #F44242;
line-height: 3em;
}

button:hover {
  background-color: #F55A5A;
  box-shadow: 0 0.75em 1em 0 rgba(0,0,0,0.24), 0 1.063em 3.125em 0 rgba(0,0,0,0.19);
}

button:active {
background-color: #D63A3A;
}

select {
-moz-appearanc: none;
-webkit-appearanc: none;
}

.valid {
border: .063em solid lightgreen;
}

.invalid {
border: .063em solid red;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}


section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.card-text {
  color: #348AC7 !important;
  
}
.btn-dark-blue {
  background: #7474BF;
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF); 
  background: linear-gradient(to right, #348AC7, #7474BF);
  color: #fff;
  border: 3px solid #eee;
}
.item-dep{
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
  margin-top:50px;
  background-color: #fff;
  
}
.item img{
  -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    
}
.item img:hover{
  -webkit-transform: scale(1.2);
    transform: scale(1.2);

}
.img-thumbnail{
    border:0px;
    border-radius:0px;
}
#Departments h5{
  padding: 14px;
  font-size: 3.25rem;
  color: #000;
}
#Departments p{
  text-align: center;
  color: #777;
  font-size: 1rem;
}
#Departments{
  padding: 0px 0;
}

.sectionClass {
  padding: 20px 0px 50px 0px;
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}


.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}


.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #101F2E;
}


.projectFactsWrap{
    display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

#projectFacts {
  padding-top:  0px;
  padding-bottom: 0px;
}

#projectFacts .fullWidth{
  padding 0;
}

.projectFactsWrap .item{
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item:nth-child(1){
  background: rgb(16, 31, 46);
}

.projectFactsWrap .item:nth-child(2){
  background: rgb(18, 34, 51);
}

.projectFactsWrap .item:nth-child(3){
  background: rgb(21, 38, 56);
}

.projectFactsWrap .item:nth-child(4){
  background: rgb(23, 44, 66);
}

.projectFactsWrap .item p.number{
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.projectFactsWrap .item p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans';
}


.projectFactsWrap .item span{
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}


.projectFactsWrap .item i{
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}


.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
  color: white;
}

.projectFactsWrap .item:hover span{
  background: white;
}

@media (max-width: 786px){
  .projectFactsWrap .item {
     flex: 0 0 50%;
  }
}